body {
    font-family: 'Sofia', sans-serif; /* Menggunakan font Sofia */
    background-image: url('https://cdn0-production-images-kly.akamaized.net/e_TxcubjisHrQFDedDN-K6GhwNc=/800x450/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/4447695/original/021457600_1685494728-HL_yoremahm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.navbar {
    background-color: white;
    border-top: 2px solid white;
}

.navbar-nav .nav-item {
    background-color: pink;
    margin: 0 5px;
    border-radius: 5px;
}
/** banner_main  TI404 {rahasia_kucingimut_triokegacoran} **/
.navbar-nav .nav-item .nav-link {
    color: black !important;
    padding: 10px 15px;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}
